<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Money</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ path_for('home') }}style/main.css">
  </head>
  <body>
    <header>
      <h1>Money</h1>
      <nav>
        <ul>
          <li><a href="{{ path_for('home') }}">Home</a></li>
          <li><a href="{{ path_for('transactions') }}">Transactions</a></li>
          <li><a href="{{ path_for('transaction-new') }}">New Transaction</a></li>
          <li><a href="{{ path_for('tags') }}">Hashtags</a></li>
          <li><a href="{{ path_for('home', { 'id': 1 } ) }}">My Account</a></li>
        </ul>
      </nav>
    </header>
    <main>
    {% block content %}{% endblock %}
    </main>
    <footer>
      <small>&copy; {{ date|date('Y') }} Christopher Wilkinson</small>
    </footer>
  </body>
</html>
