<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login | {{ site.settings.owner }}</title>
    <link rel="stylesheet" href="{{ path_for('home') }}style/login.css">
    <link rel="icon" href="{{ path_for('home') }}favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ path_for('home') }}favicon.ico" type="image/x-icon"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  </head>
  <body class="align">
    <div class="site__container">
      <div class="grid__container">
				<img src="{{ path_for('home') }}images/logo.png" alt="{{ site.settings.owner }} logo" width="120" height="120" />
        {% block content %}{% endblock %}
      </div>
  </div>
</body>
</html>