{% extends 'layout.twig' %}

{% block content %}
<h1>User</h1>
<p>Data of a user</p>

<div class="user">
    <h2>{{ user.name }}</h2>
    <p>{{ user.email }}</p>
</div>

<div class="accounts">
    <h3>Accounts</h3>
    {% for account in user.accounts %}
    <div class="account">
        <h4><a href="{{ path_for('transactions', { 'account': account.name }) }}">{{ account.name }}</a></h4>
        <p>ID: {{ account.id }}</p>
    </div>
    {% else %}
    <p>No accounts.</p>
    {% endfor %}
    <a href="{{ path_for('account-new') }}">Create new account</a>
</div>

<form class="reset-password" action="{{ path_for('user-password-post', { 'id': user.id } ) }}" method="post">
    <label for="old">Old password:</label>
    <input type="password" name="old" id="old">

    <label for="new">New password:</label>
    <input type="password" name="new" id="new">

    <label for="confirm">New password (again):</label>
    <input type="password" name="confirm" id="confirm">

    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

    <button type="submit">Change</button>
</form>
{% endblock %}
