{% extends 'layout.twig' %}

{% block content %}
<h1>User</h1>
<p>Data of a user</p>

<div class="user">
    <h2>{{ user.name }}</h2>
    <p>{{ user.email }}</p>
</div>

<div class="account">
    <h2>{{ user.account.name }}</h2>
    <p>ID: {{ user.account.id }}</p>
</div>

<form class="reset-password" action="{{ path_for('user-password-post', { 'id': user.id } ) }}" method="post">
    <label for="old">Old password:</label>
    <input type="password" name="old" id="old">

    <label for="new">New password:</label>
    <input type="password" name="new" id="new">

    <label for="confirm">New password (again):</label>
    <input type="password" name="confirm" id="confirm">

    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

    <button type="submit">Change</button>
</form>
{% endblock %}